
.mensajeError {
    list-style: none;
    color: red;
}

.fadeOut {
    opacity: 0;
    transition: 0, 5px;
}

.invisible {
    display: none;
}

.mensaje-busqueda {
    color: red;
}

body{
    margin: 0;
    padding: 0;
}
.contenedor{
    background-image: url("/img/fnd-login.jpg");
}
.header{
    background: #00a39c;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    position: fixed;
    left: 0;
    right: 0;
}

.header img{
    width: 20%;
}
.list_contacto a{
    color: #fff;
    text-decoration: none;
    width: 30%;
    
}
.titulo_form{
    color: #004078;
    font-size: 22px;
    font-weight: bold;
}
.contenido{
    display: grid;
    grid-auto-flow: column;
    padding: 50px 0;
}
.formSection{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px;
}
.form_container .form_item{
    display: flex;
    flex-direction: column;
    padding-top: 12px;
}
.form_item label{
    font-size: 18px;
    color: #004078;
}
.form_item input{
    height: 32px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 3px;
}
.form_item button{
    height: 40px;
    background-color: #ffa000 !important;
    border-style: none;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
}
.listSection{
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer{
    background-color: #00a39c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}



@media (max-width:768px){
    .header{
    }
    .contenido{
        grid-auto-flow: row;
    }
}

