body{
    padding: 0;
    margin: 0;

}

.mensajeError{
    list-style: none;
    color: red;
}
.fadeOut{
    opacity: 0;
    transition: 0,5px;
}
.invisible{
	display: none;
}
.mensaje-busqueda{
    color: red;
}